html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* fonts */

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-RegularItalic"),
    url("../fonts/MullerRegularitalic.woff2") format('woff2'),
    url("../fonts/MullerRegularitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-LightItalic"),
    url("../fonts/MullerLightitalic.woff2") format('woff2'),
    url('../fonts/MullerLightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* reset */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* repeat */

body {
  min-width: 320px;
  margin: 0 auto;
  font-family: "Muller", sans-serif;
  background: #FFFFFF;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

:root {}

.header {
  margin-bottom: 30px;
  background-color: rgb(246, 247, 248);
}

.description {
display: flex;
justify-content: center;
}

.text {
  max-width: 500px;
  font-size: 16px;
}

.nav {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 0;
}

.nav__list {
  display: flex;
  overflow: overlay;
}

.nav__list-item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
  transition: color .3s ease-in-out;
}

.nav__link:focus {
  color: black;
  border-bottom: 2px solid red;
}

.nav__link:hover {
  color: blue;
}

.nav__link:active {
  color: black;
  border: none;
}

.section__title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.section {
  margin-bottom: 30px;
  background-color: rgb(285, 357, 233);
}

.list {
  margin: 0 auto;
  max-width: 400px;
}

.list-width {
  max-width: 600px;
}


.list__img {
  max-width: 400px;
}

.list__item-link {
  font-size: 18px;
  color: blue;
  transition: color .3s ease-in-out, border .3s ease-in-out;
}

.list__item-link:focus {
  border-bottom: 2px solid red;
}

.list__item-link:hover {
  color: red;
}

.list__item-link:active {
  color: black;
  border-bottom: none;
}

.list__item:not(:last-child) {
  margin-bottom: 15px;
}

.center {
  display: flex;
  justify-content: center;
}